::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-button {
    width: 8px;
    height: 0px;
  }
  ::-webkit-scrollbar-track {
    background:rgb(66, 65, 65);
    border: thin solid rgba(31, 31, 31, 0.562);
    box-shadow: 0px 0px 3px #616161 inset;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background:rgb(122, 122, 122);
    border: thin solid rgba(31, 31, 31, 0.562);
    border-radius:10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background:#535353;
  }