body {
  margin: 0%;
  color: white;
  height: 100%;
  overflow: auto;
  text-shadow: 1px 1px 2px black;
  justify-content: center;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(/images/bg/wallpapers3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header {
  text-align: center;
  justify-content: center;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

nav {
  background-image: url("/images/misc/nav-bar.png");
  text-align: center;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: table;
  padding: 15px;
  width: 100%;
  table-layout: fixed;
  box-shadow: 0 3px 5px black;
}

.nav-item {
  padding: 15px;
  color: white;
  margin: 0 6px;
  transition: all ease-in-out 0.5s;
}

.nav-item:hover {
  color: rgb(112, 112, 112);
}

/* Button */

li {
  text-shadow: 1px 1px 2px black;
  list-style: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  border: none !important;
  color: blue;
}

#nav a {
  color: white;
  text-decoration: none;
  margin-right: 5px;
}

.info {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 100px;
  height: 30px;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  padding: 5px;
  height: 10px;
}

span.conseil {
  color: red;
  text-decoration: underline;
}

.titre {
  font-size: 50px;
  text-align: center;
  justify-content: center;
  text-shadow: solid #333 10px;
  text-shadow: 1px 1px 10px black;
}

.packs-title {
  color: rgb(207, 135, 0);
}
