@font-face {
  font-family: Roboto Thin;
  src: url(font/roboto-thin.ttf);
}

@font-face {
  font-family: Roboto Regular;
  src: url(font/roboto-regular.ttf);
}

/* Firefox Dark Scrollbar */

@namespace url("http://www.w3.org/1999/xhtml");
:root {
  scrollbar-color: rgba(255, 255, 255, 0.575) rgba(0, 0, 0, 0.966);
}

* {
  scrollbar-width: thin;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  height: 100%;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  background-position: center;
  background-repeat: no-repeat;
  line-height: 1.5;
  background-size: cover;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-attachment: fixed;
  animation: transitionIn 0.75s;
}

header {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  width: 110%;
}

nav {
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  position: relative;
  padding: 10px;
  width: 100%;
  height: 50px;
  table-layout: fixed;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.322);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}

.nav-item {
  padding: 15px;
  left: 100%;
  color: #fff;
  transition: all ease-in-out 0.3s;
  margin: 0 6px;
}

.nav-item:hover {
  color: #c7c7c7;
}

select {
  position: relative;
  left: auto;
  top: 15px;
}

.titre {
  font-size: 100px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: solid #333 10px;
  text-shadow: 1px 1px 10px #000;
}

.titre-2 {
  font-size: 75px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: solid #333 10px;
  text-shadow: 1px 1px 10px #000;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.intro {
  display: flex;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);

  overflow: hidden;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  width: 75%;
  margin: auto;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.intro::before {
  filter: blur(2px);
}

.titre2 {
  color: #0026ff;
  font-size: 110px;
  text-shadow: 5px 10px 10px #000766;
}

span.titre2 {
  text-decoration: none;
}

.titre3 {
  font-size: 50px;
  text-shadow: solid #333 10px;
  text-shadow: 1px 1px 10px #000;
}

.intro-2 {
  border: 2px solid #fff;
  border-radius: 10px;
}

.intro {
  font-size: 18px;
  text-align: center;
  justify-content: center;
  text-shadow: 2px 3px 10px #000;
}

div.header {
  text-align: center;
}

h2 {
  list-style-type: none;
  display: block;
}

span.conseil {
  color: red;
  text-decoration: underline;
}

span {
  color: red;
  text-decoration: underline;
}

.logoaqua {
  float: left;
  width: 120px;
  height: 50px;
  margin: auto;
}

footer {
  height: 50px;
  bottom: 0 !important;
  position: fixed;
  width: 100%;
  overflow: hidden;
  left: 0;
  background-color: rgba(0, 0, 0, 0.45);
}

#footer-404 {
  position: fixed;
  height: 50px;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  left: 0;
  background-color: rgba(0, 0, 0, 0.45);
}

#footer-msn {
  position: absolute;
  height: 50px;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  left: 0;
  background-color: rgba(0, 0, 0, 0.45);
}

#footer-idk {
  position: absolute;
  height: 50px;
  bottom: 0px;
  width: 100%;
  overflow: hidden;
  left: 0;
  background-color: rgba(0, 0, 0, 0.45);
}

#link {
  display: flex;
  float: right;
  height: 40px;
  padding: 15px;
  justify-content: space-between;
  cursor: pointer;
  color: #fff;
  transition: all ease-in-out 0.5s;
  margin-left: 50px;
}

.twiter {
  padding: 0 6px;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}

.twiter:hover {
  color: #1da1f2;
}

.youtube {
  transition: all ease-in-out 0.5s;
}

.youtube:hover {
  color: red;
}

.git {
  transition: all ease-in-out 0.5s;
}

.git:hover {
  color: #000;
}

.company {
  font-family: Roboto Thin;
}

.build {
  position: fixed;
  text-align: center;
  height: 50px;
  bottom: 0;
  left: 0;
  right: 0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-button {
  width: 8px;
  height: 0;
}

::-webkit-scrollbar-track {
  background: #424141;
  border: thin solid rgba(31, 31, 31, 0.562);
  box-shadow: 0 0 3px #616161 inset;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #7a7a7a;
  border: thin solid rgba(31, 31, 31, 0.562);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #535353;
}

html {
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.section {
  position: relative;
  bottom: 0;
  left: -10px;
  width: 105%;
  height: 300px;
  background: linear-gradient(rgba(153, 0, 153, 0.726), #00009c);
  overflow: hidden;
  box-shadow: 0 22px 10px rgba(44, 44, 44, 0.445);
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(images/misc/wave.png);
  background-size: 1000px 100px;
}

.wave.wave1 {
  animation: wave-animate 15s linear infinite;
  z-index: 10;
  opacity: 1;
  animation-delay: 0;
  position: absolute;
  bottom: 0;
}

.wave.wave4 {
  animation: wave-animate2 5s linear infinite;
  z-index: 8;
  opacity: 0.5;
  animation-delay: -5s;
  position: absolute;
  bottom: 20px;
}

@keyframes wave-animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

@keyframes wave-animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}

.titre-small {
  text-align: center;
  align-items: center;
  justify-content: center;
  position: fixed;
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  font-size: 5.5vw;
  text-shadow: solid #333 10px;
  text-shadow: 1px 1px 10px #000;
  position: relative;
  z-index: 2000;
}

.nav-item {
  padding: 15px;
  color: #fff;
  margin: 0 6px;
}

.nav-item:hover {
  color: #aaa;
}

.dev-img {
  margin: 0 20px 0 0;
  align-items: flex-end;
  height: 50px;
  border-radius: 50px;
  vertical-align: auto;
  transition: all 0.3s ease-in-out;
}

.dev-img:hover {
  height: 57px;
  box-shadow: 0 0 10px #000;
}

hr {
  height: 1px;
  border: none;
  background-color: #fff;
  box-shadow: 5px 5px 5px #000;
}

.table-padding {
  padding: 10px;
}

.right {
  text-align: right;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.titre-news {
  text-align: center;
  font-size: 30px;
}

.right2 {
  float: right;
}

nav.center2 {
  padding: 15px;
  color: #fff;
  transition: all ease-in-out 0.5s;
  animation: fadein 3s;
  text-align: center;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}

.nav-item.center2 {
  text-align: center;
  position: relative;
  left: auto;
}

.section-3 {
  text-decoration: none !important;
}

.pop {
  background-color: rgba(0, 0, 0, 0.432);
  position: sticky;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 10px;
}

.introduction {
  font-family: Roboto Regular;
  text-shadow: #000 3px 1px 10px;
  font-size: 17px;
  border-radius: 150px;
}

.icon {
  display: inline-block;
}

nav.short {
  height: 17px;
}

select.short {
  position: relative;
  top: -3px;
  left: -20px;
}

td.right {
  max-width: 400px !important;
  right: 50px;
}

.img-btn {
  width: 300px;
  border-radius: 20px;
  transition: transform 0.1s ease-in-out;
}

.img-btn:hover {
  transform-origin: center;
  transform: scale(calc(75 / 70));
}

.center3 {
  border-spacing: 20px;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  max-width: 150px;
  text-align: center;
  border: 2px solid #bbbbbb60;
  background-color: rgba(37, 37, 37, 0.521);
  box-shadow: 0 0 25px 0 rgba(0, 0, 0.25);
  border-radius: 3px;
  transition: 0.2s all ease-in-out;
  align-content: center;
}

body {
  margin: 0;
  height: 100%;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  background-position: center;
  background-repeat: no-repeat;
  line-height: 1.5;
  background-size: cover;
  background-attachment: fixed;
  animation: transitionIn 0.75s;
}

header {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  width: 110%;
}

nav {
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  position: relative;
  padding: 10px;
  width: 100%;
  height: 50px;
  table-layout: fixed;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.322);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}

body {
  margin: 0;
  backdrop-filter: blur(2px);
  text-align: center;
  justify-content: center;
  height: 100%;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  background-position: center;
  background-repeat: no-repeat;
  line-height: 1.5;
  background-size: cover;
  background-attachment: fixed;
  animation: transitionIn 0.75s;
}

title-contact {
  box-shadow: 0 0 33px -4px #000;
  text-shadow: 0 0 33px -4px #000;
}

.infobulle {
  height: auto;
  display: none;
  padding: 5px;
  font-size: 20px;
}

.li-changelog {
  font-size: 20px;
}

.changelog-strong {
  color: #0000ff;
}

.intro-changelog {
  border: dashed #fff;
  border-radius: 30px;
  text-shadow: 0 0 5px black;
}

.dev-title {
  font-size: 35px;
}

/* ABOUT */

body {
  margin: 0;
  height: 100%;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  background-position: center;
  background-repeat: no-repeat;
  line-height: 1.5;
  background-size: cover;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-image: url("/images/test.jpg");
  background-attachment: fixed;
  animation: transitionIn 0.75s;
}

/* .part-2 {
 
}

.header-about {
} */

/* Animation pack CSS */
