@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Corps de la page (index) */

body {
  background-color: #D9D9D9;
  font-family: Roboto;
  margin: 0 auto;
}


/* Barre de navigation */

nav {
  background-color: #0E0E0E;
  overflow: hidden;
  padding: 10px;
}

nav a {
float: left;
color: #8F8F8F;
font-family: Roboto;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

nav a:hover {
  color: white;
}

/* Logo */

.logo {
  float: left;
  padding-right: 15px;
  width: 120px;
  height: 50px;
  margin: auto;
}

.logo-page {
  bottom: 100%;
  float: right;
  width: 256px;
  height: 256px;
}

/* Titre de la page index.html */

.main-title {
  color: black;
  font-weight: 900;
  font-weight: bold;
  padding: 30px 50px;
  font-size: 50px;
}

.mini-title {
  color: black;
  font-weight: bold;
  font-weight: 700;
  padding: 30px 10px;
  font-size: 30px;
}

/* Button de la page des mods */


#mod-images {
  width: 375px;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

#mod-images:hover {
  transform-origin: center;
  border: rgba(255, 255, 255, 0.575) solid 6px;
  box-shadow: #000;
  transform: scale(calc(75 / 70));
}
