.beta {
  color: rgb(0, 255, 0);
}



html {
  max-width: 100%;
  overflow-x: hidden;
  height:100%
}

/* navbar */


/* Effet Vague */


.table-padding {
  padding: 100px;
}

.right {
  text-align: right;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.titre-news {
  text-align: center;
  font-size: 50px;
  text-shadow: 1px 1px 10px black;
}
