body {
    margin: 0;
    color: white;
    height: 100%;
    overflow: auto;
    text-shadow: 1px 1px 2px black;
    justify-content: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('/images/bg/wallpaper4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
