body {
  margin: 0%;
  color: white;
  height: 100%;
  overflow: auto;
  text-shadow: 1px 1px 2px black;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(/images/bg/wallpaper4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

nav.home {
  background-image: url("/images/misc/nav-bar.png");
  text-align: center;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: table;
  padding: 15px;
  width: 100%;
  table-layout: fixed;
  box-shadow: 0 3px 5px black;
}

.nav-item {
  padding: 15px;
  color: white;
  margin: 0 6px;
  transition: all ease-in-out 0.5s;
}

.nav-item:hover {
  color: rgb(112, 112, 112);
}

.titre {
  text-align: center;
  justify-content: center;
}
